@{
    ViewBag.Title = "Home Page";
}



@if (Request.IsAuthenticated)
{
    <div class="row">
            @using (Html.BeginForm("Play", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label("Choose your character", new { @class = "col-md-2 control-label" })
                    <div class="col-md-2">
                        @Html.DropDownList("CharacterId", new SelectList(ViewBag.Characters, "Id","Name"))
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <input type="submit" value="Play" class="btn btn-default" />
                    </div>
                </div>
            }
    </div>
    <div class="row">
        <h2>Last game sessions: </h2>
        @if (ViewBag.GameSessionsCount > 0)
        {
            <table class="table">
                <tr>
                    <th>Started: </th>
                    <th>Duration: </th>
                    <th>Character: </th>
                </tr>
                @foreach (var gameSession in ViewBag.GameSessions)
                {
                    <tr>
                        <td>@gameSession.StartTime</td>
                        <td>@gameSession.Duration.ToString(@"dd\.hh\:mm\:ss")</td>
                        <td>@gameSession.Character.Name</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div>No sessions available...</div>
        }
            </div>
  }
else
{
    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to slowpoke.net game.</h2>
        </div>
    </div>
}
